@font-face {
    font-family: Mulish;
    src: url(../assets/fonts/Mulish-Regular.ttf);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: Mulish;
}

li {
	list-style: none !important ;
}

a {
	text-decoration: none !important;
	&:hover {
		color: #f00;
        transition: 0.3s;
	}
}

button {
	cursor: pointer;
}

.container {
	max-width: 1240px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}
