.news-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.news-card {
	width: 296px;
	// height: 300px;
	flex-shrink: 0;
	overflow: hidden;
	box-shadow: 3px 3px 15px 0 rgb(0, 0, 0, 0.4);
	cursor: pointer;
	border-radius: 8px;
	img {
		width: 296px;
		height: 200px;
	}
	h6 {
		padding: 20px;
	}
}



.main-container {
	display: flex;
	gap: 40px;
	margin-top: 100px;

	.main-left {
		max-width: 800px;
		width: 100%;
		padding: 0 20;
		.heading {
			background: #109be9;
			padding: 29px;
			margin-bottom: 40px;
			span {
				color: var(--Light-Base-Color-White, #fff);
				font-family: Mulish;
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: 120%; /* 19.2px */
				letter-spacing: 0.08px;
				margin-bottom: 36px;
			}
			h1 {
				color: var(--Light-Base-Color-White, #fff);
				font-family: Mulish;
				font-size: 62px;
				font-style: normal;
				font-weight: 700;
				line-height: 120%; /* 74.4px */
				letter-spacing: 0.186px;
			}
		}
		.paragraph {
			padding: 20px;
		}
	}
	.main-right {
		display: flex;
		justify-content: center;
		max-width: 350px;
		width: 100%;
		height: 600px;
		padding: 0 20;
		padding: 3px;
		overflow-y: scroll;
	}
}
